h2 {
  font-family: 'Arial', sans-serif;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    background: #e0f7fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
}
