<h2>Proyectos</h2>

<ul>
  <li *ngFor="let p of projects">
    Usuario: {{ p.user.nombre }} <br />
    Nombre: {{ p.nombre }} <br />
    Descripción: {{ p.descripcion }} <br />
    Tipo: {{ p.tipo }} <br />
    Participación: {{ p.participacion }} <br />
    Tecnologías: {{ p.tecnologias?.join(', ') }} <br />
    Repositorio: <a [href]="p.repositorio" target="_blank">{{ p.repositorio }}</a> <br />
    Deploy: <a [href]="p.deploy" target="_blank">{{ p.deploy }}</a>
  </li>
</ul>

<p *ngIf="projects.length === 0">No hay proyectos registrados</p>
