.home-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: white;
}

.left-panel {
  width: 50%;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 40px;
  font-weight: 800;
  color: #222;
}

.subtitle {
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.75;
}

.login-box,
.logged-box {
  max-width: 420px;
}

.google-btn {
  width: 100%;
  margin-top: 30px;
  padding: 14px 18px;
  border-radius: 14px;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;

  img {
    width: 20px;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.btn-primary {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #5445ff;
  border: none;
  color: white;
  border-radius: 14px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background: #3a2be0;
  }
}

.btn-secondary {
  background: #ff9800;
  color: white;
  padding: 12px 20px;
  border-radius: 14px;
  border: none;
}

.btn-outline {
  background: white;
  border: 2px solid #3f51b5;
  padding: 12px 20px;
  color: #3f51b5;
  border-radius: 14px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 25px;
}

.right-panel {
  width: 50%;
  background: linear-gradient(135deg, #0a0434, #7a2cff);
  border-radius: 0 0 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
   position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.left-panel {
  position: relative;
  z-index: 2;
}

.decor-card {
  color: white;
  max-width: 500px;
  padding: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 24px;
  backdrop-filter: blur(10px);
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);

  h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  p {
    opacity: 0.8;
    font-size: 17px;
  }
}

@media (max-width: 950px) {
  .home-wrapper {
    flex-direction: column;
    height: auto;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    padding: 40px;
  }

  .right-panel {
    border-radius: 0;
    padding: 60px 20px;
  }
}
